/* Write your CSS here */
.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-heading {
  font-size: 28px;
  text-align: center;
  color: #05acff;
  padding: 10px;
}
